body{
    background: teal;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
#parent{
    border: 7px solid black;
    height: 800px;
    width: 800px;
    background: rgb(236, 178, 134);
    margin: 0% auto;
    position: relative;
}

.one {
    width: 100px;
    height: 100px;
    background: rgb(47, 47, 47);
    border-radius: 50px;
    position: absolute;
    top: 1%;
    left: 1%;
}

.one::before {
    position: absolute;
    content: '';
    width: 600px;
    height: 6px;
    background: rgb(47, 47, 47);
    left: 85px;
    top: 18px;
}
.one::after {
    position: absolute;
    content: '';
    width: 600px;
    height: 6px;
    background: rgb(47, 47, 47);
    left: 85px;
    top: 68px;
}
.two {
    width: 100px;
    height: 100px;
    background: rgb(47, 47, 47);
    border-radius: 50px;
    position: absolute;
    top: 1%;
    right: 1%;
}


.two::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 650px;
    background: rgb(47, 47, 47);
    right: 85px;
    top: 68px;
}
.two::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 600px;
    background: rgb(47, 47, 47);
    right: 18px;
    top: 83px;
}
.three {
    width: 100px;
    height: 100px;
    background: rgb(47, 47, 47);
    border-radius: 50px;
    position: absolute;
    bottom: 1%;
    left: 1%;
}

.three::after {
    position: absolute;
    content: '';
    width: 600px;
    height: 6px;
    background: rgb(47, 47, 47);
    left: 80px;
    top: 18px;
}

.three::before {
    position: absolute;
    content: '';
    width: 600px;
    height: 6px;
    background: rgb(47, 47, 47);
    left: 80px;
    top: 68px;
}
.four {
    width: 100px;
    height: 100px;
    background: rgb(47, 47, 47);
    border-radius: 50px;
    position: absolute;
    bottom: 1%;
    right: 1%;
}

.four::after {
    position: absolute;
    content: '';
    background: rgb(47, 47, 47);
    width: 6px;
    height: 630px;
    bottom: 75px;
    right: 680px;
}
.four::before {
    position: absolute;
    content: '';
    background: rgb(47, 47, 47);
    width: 6px;
    height: 630px;
    bottom: 75px;
    right: 739px;
}
.five {
    width: 200px;
    height: 200px;
    background: rgb(165, 19, 19);
    border-radius: 100px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.five::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 210px;
    background: rgb(165, 19, 19);
    transform: rotate(45deg);
    top: 195px;
    left: -100px;
}

.five::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 210px;
    background: rgb(165, 19, 19);
    top: 195px;
    right: -100px;
    transform: rotate(-45deg);

}
.six {
    width: 200px;
    height: 200px;
    background: rgb(165, 19, 19);
    border-radius: 100px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.six::before {
    width: 6px;
    height: 210px;
    content: '';
    position: absolute;
    background: rgb(165, 19, 19);
    bottom: 190px;
    left: -70px;
    transform: rotate(-45deg);
}

.six::after {
    width: 6px;
    height: 210px;
    content: '';
    position: absolute;
    background: rgb(165, 19, 19);
    bottom: 190px;
    right: -70px;
    transform: rotate(40deg);
}